$primary-color: #F5F5F5;
$background-color-primary: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
$background-color-primary-reversed: linear-gradient(19deg, #B721FF 0%, #21D4FD 100%);
$secondary-color: #100c08;
$disabled-color: #FF033E;
